.header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    // background-image: url();
    background: #1A1A1A;
    width: 100%;
    position: fixed;
    z-index: 100;
    color: white;
}
.navig{
    align-items: center;
    display: flex;
}
ul{
    display: flex;
    gap: 2.5rem;
}
li{
    list-style-type: none;
    display: block;
    transition: .5s;
}
ul:hover li{
    filter: blur(5px);
}
ul li:hover{
    filter: blur(0px);
}
li a{
    text-decoration: none;
    color: #b40808;
    font-weight: 800;
}
.sign{
    display: flex;
    gap: 10px;
}
.white{
    background: none;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
}
.white:hover{
    background: #b40808;
    border: none;
    border-radius: 20px;
    color: white;
}
.red{
    height: 40px;
    background: #C70000;
    border: none;
    border-radius: 20px;
    width: 80px;  
}
.red:hover {
    background-color: #b40808;
    color: white;
  }