.contact-page {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.contact-container {
    text-align: center;
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.1rem;

    i {
        font-size: 1.3rem;
        margin-right: 10px;
    }
}
